.action-buttons button {
  border-radius: 16px;
  width: 15em;
  height: 2em;
  border: none;
  background-color: #f1f3f5;
  text-align: start;
}

.action-buttons button:hover {
  background-color: #e0dbdbcc;
}

.icon-2 {
  color: #ec0000;
  font-size: 1em;
}
.icon-1 {
  color: #969090cc;
}
